In [2]:
 from sklearn.datasets import fetch_california_housing

In [6]:
import pandas as pd
import numpy as np

In [3]:
boston = fetch_california_housing()

In [4]:
boston.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [ ]:
print(boston.DESCR)

In [10]:
dataset = pd.DataFrame(boston.data,columns = boston.feature_names)

In [ ]:
dataset.head()

In [41]:
dataset['MedHouseVal'] = boston.target

In [52]:
dataset.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,4.526,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,3.585,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,3.521,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,3.413,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.422,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [ ]:
dataset.info()

In [ ]:
#checking the missing values
dataset.isnull().sum()

In [ ]:
dataset.corr()

In [43]:
y = dataset["MedHouseVal"]
X = dataset.drop("MedHouseVal", axis=1)

In [44]:
#Train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3 ,random_state = 0)

In [45]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [46]:
xtrain_scaled = sc.fit_transform(x_train)
xtest_scaled = sc.transform(x_test)

In [47]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()

In [ ]:
regression.fit(xtrain_scaled,y_train)

In [49]:
regression.predict(xtest_scaled)

array([1.369, 2.413, 2.007, ..., 3.519, 0.925, 2.983])

In [50]:
from sklearn.metrics import r2_score
print(r2_score(y_test,regression.predict(xtest_scaled)))

1.0

In [51]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, regression.predict(xtest_scaled))
print("Mean Squared Error:", mse)

Mean Squared Error: 1.9593153427856088e-30

In [54]:
print(regression.predict(sc.fit_transform([[4.526,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23]])))

[2.06824625]

In [56]:
sc.transform(boston.data[0].reshape(1,-1))

array([[ 3.79920000e+00,  0.00000000e+00, -1.58730158e-08,
        -4.76190476e-07,  0.00000000e+00, -4.44444445e-07,
         0.00000000e+00,  0.00000000e+00]])

In [57]:
regression.predict(sc.transform(boston.data[0].reshape(1,-1)))

array([6.45105973])

In [58]:
#Pickling The Model file for Deployment
import pickle
pickle.dump(regression,open('regmodel.pkl','wb')) #It will create a pickle file

In [59]:
pickled_model = pickle.load(open('regmodel.pkl','rb'))